.banner-foot {
  position: absolute;
  bottom: 0;
  color: rgba(255, 255, 255, .8);
  font-size: .6em;
  text-align: center;
  letter-spacing: 1px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(#1C101C, $bg-banner 80%);
  border-top: 3px solid #000;
  height: 25px;
  padding-bottom: 5px;

}

.heart {
  color: #B6465F;
}
