@import 'HtmlAndMarginFix';
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro|Open+Sans:300,400,600');
$bg-banner: #2D1B2D;
$font-color: #FFF;

// * {
//   border: 1px solid red;
// }

.banner {
  background-color: $bg-banner;
  color: $font-color;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  font-family: 'Anonymous Pro', monospace;
  font-weight: 400;
  background: linear-gradient(#1C101C, $bg-banner 80%);
  border-bottom: 3px solid #000;
}

h1 {
  margin: 0;
  padding: 0;
  padding-left: 15px;
  letter-spacing: 5px;
}

.navbar-profile-pic {
  position: absolute;
  top: 4.8%;
  right: 17%;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

.username {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 1%;
  right: 5%;
  color: #fff;
  font-size: .8em;
}

.btn-login {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 6%;
  right: 5%;
  background-color: $bg-banner;
  color: $font-color;
  padding: 10px;
  border: 1px solid #131219;
  box-shadow: inset 0px -1px 3px 0px rgba(100,83,107,0.73);
}

.btn-login:hover {
  background-color: #4C2D4C;
}

.btn-logout {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 6%;
  right: 5%;
  background-color: $bg-banner;
  color: $font-color;
  padding: 10px;
  border: 1px solid #131219;
  box-shadow: inset 0px -1px 3px 0px rgba(100,83,107,0.73);
}

.btn-logout:hover {
  background-color: #4C2D4C;
}
